body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.btn-modern {
    padding: 6px 40px;
    background-color: rgb(118, 237, 130);
    color: white;
    border: none;
    border-radius: 8px;
    border-bottom: solid 2px rgb(44, 216, 107);
    cursor: pointer;
    transition: background-color 0.4s;

}
.btn-modern:hover {
    background-color: rgba(144, 238, 144, 0.838);
    color: rgba(8, 187, 83, 0.454);
    transform: translateX(-5px);
    
}